.fondoPage {
    background-image: url("../assets/img/construccion_cielo.png");
    background-size: cover;
    background-attachment: fixed;
}

.fondoCard {
    background: #4a4a4aab;
    width: 75% !important;
}

.fondoItems {
    background: #00000073;
}

.fondoItemsUni {
    background: #ffffff73;
}

.descartar {
    display: none !important;
}

@media (max-width: 900px) {
    .descartarCelular {
        display: none;
    }
}

@media (max-width: 768px) {
    .fondoCard {
        width: 100% !important;
    }
}


.logoHome {
    max-width: 15vw;
    max-height: 50px;
    position: absolute;
}

.subTituloHome {
    font-size: 2vw;
    font-weight: bold;
}

.tituloHome {
    font-size: 2.5vw;
    font-weight: bold;
    margin: 0;
}